body {
	font-family: meslo;
	margin: 2em;
	background-color: lightblue;
	color: midnightblue;
}

h1 {
	font-style: italic;
	color: #373fff;
}

h4 {
	font-weight: bold;
	color: #808080;
}

td {
	padding: 4px;
}

footer {
	color: #808080
}